body {
    font-family: 'montserrat', sans-serif;
}

.title {
    font-family: 'Roboto', sans-serif;
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
}

.top-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.header {}

.logo {
    font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: #2E2F42;
}

.logo-left {
font-weight: 800;
    font-size: 18px;
    line-height: 1.33;
    letter-spacing: 0.03em;
    color: #4D5AE5;
}

.header-navigation {
    font-family: 'Roboto';
        font-style: normal;
        font-weight: 500;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
}

.header-list {}

.list {
    list-style: none;
}

.header-item {}

.header-link {
    text-decoration: none;
}

.link {}

.header-items {}

.header-mail-item {}

.header-mail {}

.header-phone-item {}

.header-phone {}